body {
    margin: 0;
    padding: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    display: block;
    background: #fff;
    border: 2px solid #333;
    box-shadow: 0 4px 24px rgba(0,0,0,0.2);
}


#lifeBoard, #scoreBoard {
 color: rgb(129, 255, 112);
font-size: 20px;
}